@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*{
	font-family: 'Open Sans', sans-serif;
}

.logo {
	width: 100px;
}

.navbar{
	background-color: #6a58db;
}

a.nav-link{
	color: #fff;
}

a.nav-link:visited, a.navlink:active, a.nav-link:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}

.sub-header {
    height: 420px;
    position: relative;
    display: table;
    width: 100%;
}

.text-header {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center; 
}

.text-header h1 {
	color: #f5aa93;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 60px;
}

.text-header h3 {
	color: #fff;
	font-weight: 300;
	font-size: 17px;
	margin-top: 15px;
}

.image-header {
	width: 100%;
	height: 90%;
	position: absolute;
	opacity: 0.9;
}

a.btn, a.btn:hover, a.btn:visited, a.btn:focus {
	background-color: #6a58db;
	text-transform: uppercase;
	color: #fff;
	margin: 30px auto;
	padding: 11px 95px;
	letter-spacing: 5px;
	border-bottom: 5px solid #6437d3;
}

div#containerIndex {
    width: 70%;
}

.titles {
	text-align: center;
	color: #6a58db;
	font-weight: 300;
	font-size: 25px;
}

.row {
	text-align: center; 
	margin-bottom: 60px;
}

.row img{
	width: 140px;
	margin-top: 20px;
}

.imgContainer {
	margin-top: 30px;
}

.imgContainer img {
	width: 100%;
}

.myFooter {
	margin-top: 50px;
	padding: 20px;
	background-color: #6a58db;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

#containerAdicionar {
	overflow: hidden;
}

h1.titlePage {
	margin-top: 10%;
	text-align: center;
	text-transform: uppercase;
	font-size: 350%;
	font-weight: bolder;
	color: #6a58db;
	letter-spacing: 4px;
}

#containerAdicionar p {
	color: #6a58db;
	font-size: 1.3em;
	font-weight: bold;
	word-spacing: 2px;
	margin-top: 40px;
}

.add-form {
	margin: 15% auto;
}

.add-form input {
	padding: 15px;
	border: 2px solid #A2A2A2;
	text-align: center;
}

.add-form input:focus{
	border-color: #6a58db;
}

.button-add {
	text-align: center;
	margin-top: 10%;
}

#containerPortfolio {
	overflow: hidden;
}

#containerPortfolio h3 {
	text-align: center;
	color: #6a58db;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 10%;
}

.imgPortfolio {
	text-align: center;
	margin-top: 5%;
}

.imgPortfolio img{
	width: 70%;
	margin: 0 auto;

}